.toggle {
  position: relative;
  font-size: responsive 32px 35px;
  --total-width: 1em;
  --height: 0.4em;
  --inner-width: calc(var(--total-width) - var(--height));
  --thumb-width: 0.6em;
  --offset: var(--thumb-width) / 2;
  --shadow-width: 1.4em;
  --shadow-offset: var(--shadow-width) / 2;

  & input {
    position: absolute;
    opacity: 0;
  }

  & input:focus,
  & input:active {
    & + label:after {
      opacity: 1;
    }
  }

  & label {
    position: relative;
    display: block;
    width: var(--total-width);
    height: var(--height);
    background: gray;
    border-radius: 99em;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease,
      opacity 0.1s ease;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 3;
      display: block;
      width: var(--thumb-width);
      height: var(--thumb-width);
      background: white;
      border-radius: 50%;
      box-shadow: 0.08em 0.08em 0.3em rgba(#000, 0.6);
      transform: translate(calc(var(--inner-width) / -2 - var(--offset)), -50%);
      transition: inherit;
      content: '';
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: var(--shadow-width);
      height: var(--shadow-width);
      background: gray(0, 0.07);
      border-radius: 50%;
      transform: translate(
        calc(var(--inner-width) / -2 - var(--shadow-offset)),
        -50%
      );
      opacity: 0;
      transition: inherit;
      content: '';
    }
  }

  & input:checked + label {
    background: color(purple tint(50%));

    &:before {
      background: color(purple lightness(+5%));
      transform: translate(calc(var(--inner-width) / 2 - var(--offset)), -50%);
    }

    &:after {
      transform: translate(
        calc(var(--inner-width) / 2 - var(--shadow-offset)),
        -50%
      );
    }
  }
}
